/********* Start Navbar **************/
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Righteous', cursive;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}
.navbar-brand, .navbar-expand-lg .navbar-nav .nav-link {
    font-weight: bold;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
    color: #376393;
    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-toggler {
    padding: 10px 18px;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item {
    color: #376393;
    font-weight: 500;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.navbar-expand-lg .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #007bff;
    padding-left: 1.7rem;
    border-left: 2px solid #007bff;
}

/********* End Navbar **************/
/********* Start Welcome area **************/
.header .container h1 {
    font-size: 3rem;
    font-weight: 400;
}

.header .container button {
    padding: .8rem 1.2rem;
}
/********* End Welcome area **************/
/********* Start Features ***********/

#about {
    padding: 100px 0px;
    position: relative;
    z-index: 9;
}

.features-item {
    border-radius: 5px;
    padding: 60px 30px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.features-item h2 {
    z-index: 9;
    position: absolute;
    top: 15px;
    left: 45px;
    font-size: 100px;
    font-weight: 600;
    color: #e9f0fd;
}

.features-item i {
    z-index: 10;
    position: relative;
    max-width: 100%;
    margin-bottom: 40px;
    font-size: 100px;
    font-weight: 600;
    color: #007bff;
}

.features-item h4 {
    margin-top: 0px;
    font-size: 22px;
    color: #1e1e1e;
    margin-bottom: 25px;
}

.features-item p {
    margin-bottom: 40px;
}

a.main-button {
    font-size: 14px;
    text-decoration: none;
    border-radius: 25px;
    padding: 15px 25px;
    background-color: #2c60c2;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a.main-button:hover {
    background-color: #10306b;
}

/********* End Features *************/
/********* Start Promotion **********/

#promotion {
    padding: 100px 0px;
}

#promotion .left-image {
    align-self: center;
}

#promotion .right-text ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#promotion .right-text ul li {
    display: inline-block;
    margin-bottom: 60px;
}

#promotion .right-text i {
    display: block;
    float: left;
    margin-right: 30px;
    font-size: 100px;
    color: #2c60c2;
}

#promotion .right-text h4 {
    font-size: 22px;
    color: #1e1e1e;
    margin-bottom: 15px;
    margin-top: 3px;
}

#promotion .right-text p {
    font-size: 15px;
    line-height: 25px;
    color: #888;
}

/********* End Promotion ***********/
/********* Start Footer ************/

footer {
    background-color: #1c2c3c;
    width: 100%;
}

footer .sub-footer {
    padding: 20px 0px;
    text-align: center;
}

footer .sub-footer p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

footer .sub-footer a {
    color: #FFF;
}


/************ End Footer *************/
